.wrapper {
  position: relative;
  background-color: white;
  height: 100%;
}

.login_form {
  max-width: 300px;
  position: absolute;
  top: 45%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.login_form > .welcome {
  text-align: center;
}

.welcome {
  font-size: xx-large;
}

.login_form_forgot {
  float: right;
}

.login_form_button {
  width: 100%;
}
